html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#app {
  background-color: rgb(44, 44, 44);
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .tabZone {
    margin-top: 45px;
    margin-bottom: 150px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    .tabsBtn {
      border-color: gray;
      color: gray;
    }
    .active {
      border-color: white;
      color: white;
    }
  }
  .btn {
    background-color: rgb(44, 44, 44);
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-size: 18px;
    padding: 20px;
    color: lightgrey;
    cursor: pointer;
    width: 225px;
    transition: 0.3s;
    &:hover {
      color: white;
      border: 2px solid white;
    }
  }
  .stopwatchZone {
    text-align: center;
    .stopwatch {
      font-size: 75px;
    }
  }
  .timerButtonZone {
    display: flex;
    justify-content: center;
    width: 500px;
    .resultBtn {
      display: none;
    }
  }
  .result {
    font-size: 22px;
  }
  .btnResertResult {
    display: none;
  }
  .timerZone {
    display: flex;
    flex-direction: column;
    .timer {
      display: none;
      font-size: 75px;
    }
    .resertTimerButton {
      display: none;
    }
  }
}
